{% extends 'base.html.twig' %}

{% block title %}Envoi de l'email de réinitialisation{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à l'adresse email est trouvé, alors un email vient d'y être envoyé contenant le lien pour réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si l'email ne vous parvient pas, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
{% endblock %}
